.form {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        box-shadow: 0px 0px 28px -15px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        
        h3{
            margin: 0;
            padding: 0;
        }
        input{
            height: 30px;
            width: 500px;
            padding: 3px 10px;
            border-radius: 10px;
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.38);
        }

        button{
            width: 100px;
            padding: 6px;
            border-radius: 10px;
            border: none;
            color: white;
            font-size: 20px;
            background-color: blueviolet;
        }
    }
}